*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body *{
    font-family: 'Times New Roman', Times, serif;
}

body{
    background-image: url(./assets/fundo.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: #0C0F1E;
    background-position: top center;
}

header{
    height: 152px;
    padding-top: 32px;
}

header div{
    width: 120px;
    margin: auto;
    display: flex;
    border-radius: 50%; 
    padding: 4px;
    background-image: linear-gradient(90deg,rgb(234, 0, 255) 0%, rgb(132, 0, 255) 50%, rgb(0, 195, 255) 100%);
    animation: toTop .7s .2s backwards;
}

header div:hover{
    transform: scale(1.1);
}

header div img{
    width: 100%;
    border-radius: 50%;
}

main{
    max-width: 485px;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
}

main section{
    background-image: linear-gradient(90deg,rgb(234, 0, 255) 0%, rgb(132, 0, 255) 50%, rgb(0, 195, 255) 100%);
    padding-top: 4px;
    border-radius: 10px;
    animation: toBottom .7s .2s backwards;
}

main section:nth-child(1){
    animation-delay: 0;
}

main section:nth-child(2){
    animation-delay: .4s;
}

main section:nth-child(3){
    animation-delay: .8s;
}

main section div{
    color: white;
    background-color: #262629;
    border-radius: 8px;
    padding: 20px 18px;
}

div p{
    color: rgba(255, 255, 255, 0.538);
    font-size: large;
}

section div ul{
    margin-top: 20px;
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
}

section div ul li{
    list-style: none;
}

div ul li img{
    width: 100px;
    border-radius: 10px;
    border: 1.5px solid white;
}

section div img:hover{
    transform: scale(1.1);
}

.social-list div ul{
    gap: 5px;
}

@keyframes toTop{
    from{
        opacity: 0;
        transform: translateY(-30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes toBottom{
    from{
        opacity: 0;
        transform: translateY(30px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}